.main{
    display: flex;
    justify-content: space-around;
    /* height: 20vh; */
    align-items: center;
    /* margin-top: 3%; */
}

.add, .delete, .update{
    border-radius: 10px;
    height: 20vh;
    align-content: center;
    /* padding-left: 10%;
    padding-right: 10%; */
    margin-top: 3%;
}

.add{
    background-color: aqua;
}
.delete{
    background-color: red;
}
.update{
    background-color: yellow;
}